

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid lightgray;
    border-radius: 20px;
    padding: 1%;  
    background-color: #ffffff; 
}

.side {
    display: flex;
}

.greySide {
  display: flex;
  gap: 5px;
}

.grey {
  display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 1%;  
    background-color: #ECEEF2; 
}

.profile {
  font-family: var(--font-app);
  color: black;
}

.profile h1 {
  font-family: var(--font-app);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  font-weight: 550;
}

.profile h2 {
  font-size: 1.0rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}

.profile h3,
.profile h4,
.profile h5,
.profile p {
  font-size: 0.75rem;
  margin: 0.3rem 0;
  font-weight: 400;
  margin-bottom: 6px;
}

.profile h6 {
  font-size: 0.75rem;
  margin: 0.3rem 0;
  font-weight: 400;
  margin-left: 25px;
}

.Row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 18px;
    height: 18px;
}