/* TODO: import font, make it so that text wraps towards next line */

@import url("https://use.typekit.net/tub4ocm.css");


  
  .bluebackground {
    background-color: #041e42;
    color: white;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .wholeentirefullboxmegabooleanintfloatstrdoublelongsubwaychickenbaconranchmeltwithextraolives {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: visible;
    width: 100%;
    border: 1.5px solid gray;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    margin-bottom: 24px;
  }
  
  .whitebackground {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    padding-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 0 15px 15px;
  }