@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
}
.nav-button {
        /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 12px;

    width: 192px;
    height: 44px;

    background: #041E42;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: rgba(255, 255, 255, 0.7);
}

.button :hover {
    background-color: #CB333B;
}

.content {
    gap: 1px;
    padding-left: 16px;
}

.nav-logo {
    width: 18px;
    padding-right: 3px;
}

.button-text {
    padding-left: 6px;
}